
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>form0</title>
</head>
<body>
    <div> 
   <h1> ThnakYou For Submitting The Form</h1>    

    </div>
</body>
</html>
